*.pyc
*.pyo
*.*~
*.swp
*.orig

.coverage
.project
.pydevproject
.settings

pip-log.txt
docs/_build

*.db*
*settings_local.py
*.directory

lpftv/bin/*
lpftv/include/*
lpftv/lib/*
lpftv/static/photos/*
lpftv/static/serials/*
lpftv/static/baner/*
lpftv/static/banner/*
lpftv/src/*
lpftv/static/index/*
lpftv/build/*

