*.pyc
*.pyo
*.*~
*.swp
*.orig

.coverage
.project
.pydevproject
.settings

pip-log.txt
docs/_build

*.db*
*settings_local.py
*.directory

lpftv/bin/*
lpftv/include/*
lpftv/lib/*
lpftv/media/photos/*
lpftv/media/serials/*
lpftv/media/baner/*
lpftv/src/*
