body
{
   background:url("../img/bg_wrapper.png") repeat-y scroll center top #2f2f2f;
}

.baner-box
{
  margin-top: 35px;
}
.container
{
    background : transparent url('../img/background.png') 0 -170px no-repeat;

}
.container-box
{
  margin-top: 38px;
}

.container-box img
{
    max-width:100%;
    float:left;
    margin-right:10px;
}
.small-box
{
  margin: 0px;
  padding-left: 33px;
}

.center
{
  margin: auto;
}

span.last
{
  float: right;
}


div.button_border
{
   padding: 5px 0px ;
   border: 0;
   background: url('../img/button_line.png') repeat;
}

.search{
    padding-top:8px;
}
input.find
{
   border: 1px solid #000;
   border-right:none;
   background-color: #919191;
   width: 147px;
   height: 32px;
   color: #fff;
   font: 11pt/10pt arial;
   float: left;
   padding: 5px;
}

input.find_b
{
    border: 0px;
    background-color: #929292;
    margin: 15px 15px 0px 0px;
    padding: 0px;
    height: 24px;
    width: 50px;
    float: right;
}

input.submit
{
    height:32px;
    padding:0px;
    margin:0px;
    width:32px;
    border:1px solid black;
    border-left:none;
    background-color:#919191;
    background-image:url( '../img/toolbar_find.png' );
    background-repeat:no-repeat;
    background-position:center;

}
.comments_form
{
  background: #636363;
  color: #eee;
  padding: 15px;
  margin: 5px;
  width: 575px;
}

.comments_form label
{
    float:left;
    display:block;
    min-width:80px;
    height:16px;
    margin:5px 0px;
}
.comments_form input[type="text"]
{
    display:block;
    clear:right;
    margin:5px 0px;
    width:82%;
}
.comments_form input[type="submit"]
{
    margin-top:10px;
    padding:5px;
    border:1px solid black;
    background-color:#4d4d4d;
    color:white;
}
.comments_form input[type="submit"]:hover
{
    border:1px solid #919191;
    }

div.object_border
{
  margin:0px 0px 30px 0px ;
  background: #fff;
  padding: 10px 10px 20px 10px;
  border: 1px solid #000;
  color: #000;
  background-image:url('../img/bottomgrad.png');
  background-repeat:repeat-x;
  background-position:bottom;

}

div.comment_box
{
  margin: 0 0 1px 5px;
  background: #636363;
  padding: 10px;
  color: #fff;
}

div.episode_border
{
  background: #eee;
  padding: 10px;
  border: 1px ridge #000;
  color: #000;
}

div.episode_list
{
  margin:0px 0px 10px 0px;
  background: #4d4d4d;
  border: 2px ridge #fff;
    padding:4px;
    height:102px;
    display:block;
    position:relative;
    color:white;
}

div.episode_list:hover
{
    background-image:url('../img/seriesbg.png');
    background-repeat:repeat-y;
}

div.episode_list a
{
    color:white;
}

div.episode_list h5
{
    color:white;
    font-size:15px;
    line-height:14px;
    font-weight:normal;
    margin:0px;
    padding:0px;
    text-shadow: #2f2f2f 1px 1px;
}

div.episode_list img.episode_preview
{
    margin-right:5px;
    border:1px solid black;
    width:100px;
    height:100px;
}
.right
{
  float: right;
}

.left
{
  float: left;
}

div.null
{ 
    margin: 0px;
    padding: 0px;
}

h2
{
    color: #5c949b;
    font-size:24px;
}

h2.white
{
    color: #fff;
    font-size: 28px;
}

div.find_header
{
    margin: 0px 0px 0px 10px;
    padding: 10px;
}

div.newseries
{
    position:relative;
    margin-bottom:35px;
}
div.newseries h2
{
    color:white;
    letter-spacing:-1px;
    position:absolute;
    top:-32px;
}


h4, h4 a
{
  color: #5c949b;
  font: bold 20px Verdana, sans-serif;
  letter-spacing:-1px;
  margin: 0px;

}

.object_name
{
    border-bottom:1px solid #5c949b;
    padding-bottom:20px;
    height:10px;
    margin-bottom:12px;
    width:100%;
}
p.small
{
  font-size:85%;
  padding-top: 5px;
  margin: 0px;
}

a
{
  text-decoration: None;
}

a.button
{
    font: 23px/50px Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 2px #2C5C72;
    letter-spacing:-1px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 120px;
    text-align: center;
    background: url('../img/button.png') no-repeat;
    margin-left: 5px;
}
a.button:hover
{ 
  background-position:0 -50px;
  color: #fff; 
}

.next
{
  font:  13px/11px arial;
  color: #5c949b;
}

p
{
  margin: 10px 0px;
}

p a
{
    text-decoration:underline;
}

hr
{
  background: #fff url('../img/hr_line.png') repeat-y;
  height: 4px;
  width: 97%;
  margin: 10px;
}

img.marg
{
  padding: 10px;
  margin: 0px;
  max-width: 570px;
}

form.reset
{
  margin: 0px;
  padding: 0px;
}

hr.comment
{
  background: #000;
  color: #ddd;
  width: 95%;
  height: 1px;
}

hr.find
{
    height:0px;
    border: 1px dotted #a3bae9;
    border-top:0px;
    background:transparent;
}
form input[type="text"]
{
   border: 1px solid #000;
   background-color: #919191;
   height: 24px;
   color: #eee;
   font: 11pt/10pt arial;
}

form textarea
{
   border: 1px solid #000;
   background-color: #919191;
   width: 550px;
   height: 100px;
   color: #eee;
   font: 11pt/10pt arial;
}

.find_header input[type="submit"]
{
  border: None;
  color: #eee;
  background: #919191;
  width: 147px;
  height: 30px;
}

.content
{
        min-height:700px;
    }

.footer
{
    background-color:white;
    color:#333333;
    font-size:12px;
    padding:10px 0px;
    text-align:center;
    border:1px solid black;
}
.serials_list
{
    background-color:white;
}

ul.serials_list 
{
    margin:0px;
    border:1px solid black;
    background:url("../img/bottomgrad.png") repeat-x scroll center bottom #FFFFFF;
    padding-top:10px;
    padding-bottom:10px;
}
.serials_list a
{
    color:black;

}
.serials_list a:hover
{
    color:#2f2f2f;

}
.episode_data
{
    float:right;
}
.episode_name
{
    font-weight:bold;
    font-size:14px;
    padding-right:30px;
}

.technical
{
    font-size:80%;
}
li.episode 
{
    margin-bottom:5px;
    border-bottom:1px dashed #CCCCCC;
    list-style-type:circle;
}
li.episode a
{
    color:#2f2f2f;
}

.download-link
{
    float:left;
    width:60px;
}
img.download-img
{
    float:none;
    margin-left:9px;
}
img.watchonline
{
    position:absolute;
    bottom:5px;
    right:23px;
}
img.download
{
    position:absolute;
    bottom:5px;
    right:-9px;
}

