<html>
<head>
<title>{% block title %}LPF-TV{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{{MEDIA_URL}}css/screen.css"/ type="text/css">
<link rel="stylesheet" href="{{MEDIA_URL}}css/print.css" type="text/css" media="print">
<!--[if lt IE 8]><link rel="stylesheet" href="blueprint/ie.css"
type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="{{MEDIA_URL}}css/main.css"/ type="text/css">
<link href="{{MEDIA_URL}}css/style.css" media="screen" rel="stylesheet" type="text/css" />	
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>	
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.cycle.all.min.js"></script>
</head>
<body>
 {% load serial_tags %}
<div class="container">
  <div class="container-box">
    {% rimage_init %}
  </div>
     <div class="container-box span-24 button_border"> 
       <div class="span-14 append-2">
       <a class="button{% if request.path == '/'%} active{% endif %}" href="{% url news_index %}">Новини</a>
       <a class="button{% if '/series/' in request.path%} active{% endif %}" href="{% url serials_index %}">Серіали</a>
       <a class="button{% if request.path == '/about/'%} active{% endif %}" href="/about/">Про нас</a>
       {% if user.is_superuser %}
       <a class="right button" href="{% url admin:index %}">Адмінка</a>
       {% endif %}
       </div>
       <div class="span-8 last search">
           <a href="http://twitter.com/lpftv"><img title="Наш твіттер" src="{{MEDIA_URL}}img/twitter_icon.png"/>
           <a href="http://vkontakte.ru/club14812539"><img title="Ми вконтакті" src="{{MEDIA_URL}}img/vkontakte_icon.png"/>
           </a>
           <a href="http://youtube.com/demyanua"><img title="youtube" src="{{MEDIA_URL}}img/youtube_icon.png"/>
           </a>
           
           <form  action="/search/" method="get">    
             <input id="find_field" name="q" class="find" value="пошук">
             <input type="submit" class="submit" value="">
           </form>
       </div>
     </div>
<div class="container-box span-24">
  <div class="content span-16">
    {% block content %}
    {% endblock %}
  </div>
  {% show_last_episodes %}
  {% serials_list %}
</div>
<div class="span-24 footer container-box">
    {% now "Y"%} Команда LPFtv | <a href="/about">Контакти</a> | <a href="/disclaimer">Про авторські права</a>
</div>
</div>
<script type="text/javascript" >
$("#find_field")
   .focus(function(){
      if ($(this).val() == "пошук") {
         $(this).val("");
      }
   })
   .blur(function(){
      if ($(this).val() == "") {
         $(this).val("пошук");
      }
   });
</script>
</body>
</html>
