<html>
<head>
<title>LPF-TV</title>
<link rel="stylesheet" href="{{MEDIA_URL}}css/main.css"/ type="text/css">
</head>
<body>
<h2>
<div class="brd"> 
  <a class="button" href={% url apps.serials.views.index %}>ГОЛОВНА</a>
  <a class="button" href={% url apps.serials.views.show_serial %}>СЕРІАЛИ</a>
  <a class="button" href={% url apps.serials.views.show_news %}>НОВИНИ</a>
</div>
</h2>
<div class="content">
{% block content %}
{% endblock %}
</div>
<div class="sidebar">
<h2>Свіжі серії</h2>
</div>
</body>
</html>
