{% extends "base.html" %}
{% block content %}
{% load markup %}
<h4>Some news</h4>
{% for new in news %}
<hr/>
<table border = 0>
  <tr>
    <td colspan = 2>{{ new.name }}</td>
  </tr>
  <tr>
    <td colspan = 2>{{ new.short_describe|markdown }}</td>
  </tr>
  <tr>
    <td>{{ new.pub_date}}</td>
    <td><a href = {{new.get_absolute_url}}>детальніше</a></td>
  </tr>
</table>
{% endfor %}

<h4>Some serials</h4>
{% for serial in serials %}
<hr/>
<table border="0">
  <tr>
    <td rowspan = 3><img border = 0 src='{{serial.get_small_url}}' width="200" height="200" alt="No image"/ ></td>
    <td> {{ serial.name }}</td>
  </tr>
  <tr>
    <td colspan = 2>{{ serial.short_describe|markdown }}</td>
  </tr>
  <tr>
    <td>{{ serial.pub_date }}</td>
    <td><a href ={{serial.get_absolute_url}} >детальніше</a></td>
  </tr>
</table>
{% endfor %}

{% endblock %}
