#body_color
{
  background : #333333 url('../img/background.png') no-repeat;
}

.baner-box
{
  margin: 0px;
  padding-left: 45px;
  padding-top: 35px;
}

.container-box
{
  margin: 0px;
  padding-left: 40px;
  padding-top: 40px;
}

.small-box
{
  margin: 0px;
  padding-left: 33px;
}

.center
{
  margin: auto;
}

span.last
{
  float: right;
}


div.button_border
{
   margin: 0px;
   padding: 5px;
   border: 0;
   background: url('../img/button_line.png') repeat;
   height: 50px;
   width: 945px;
}

input.find
{
   border: 1px solid #000;
   background-color: #919191;
   width: 147px;
   height: 24px;
   color: #fff;
   font: 11pt/10pt arial;
   float: right;
   margin: 15px;
   padding: 5px;
}

div.comments_form
{
  background: #636363;
  border-radius: 10px;
  color: #eee;
  padding: 10px;
  margin: 10px;
  width: 585px;
}

div.object_border
{
  margin: 5px;
  background: #fff;
  padding: 10px;
  border: 2px ridge #000;
  color: #000;
}

div.comment_box
{
  margin: 0 0 1px 5px;
  background: #636363;
  padding: 10px;
  color: #fff;
}

div.episode_border
{
  background: #eee;
  margin: 5px;
  padding: 10px;
  border: 1px ridge #000;
  color: #000;
}

div.small_border
{
  margin: 5px;
  background: #4d4d4d;
  padding: 5px;
  border: 2px ridge #fff;
}

div.right
{
  float: right;
  margin: 0px;
  padding: 10px;
}

div.left
{
  float: left;
  margin: 0px;
  padding: 10px;
}

div.null
{ 
  margin: 0px;
  padding: 0px;
}

h2
{
  color: #5c949b;
  font: bold 20pt/18pt arial;
  margin: 0px;
  padding: 5px;
}

h4
{
  color: #5c949b;
  font: bold 20pt/18pt arial;
  margin: 0px;
  padding: 5px 0px 0px 10px;
}

p.small
{
  color: #fff;
  font: 10pt/9pt arial;
  padding-top: 5px;
  margin: 0px;
}

a
{
  text-decoration: None;
}

a.button
{
    font: bold 13pt/11pt arial;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 120px;
    line-height: 50px;
    text-align: center;
    background: url('../img/button.png') no-repeat;
    margin-left: 3px;
}
a.button:hover
{ 
  background-position:0 -50px;
  color: #fff; 
}

.next
{
  font:  13pt/11pt arial;
  color: #5c949b;
  margin: 0px;
  padding: 0px;
}

p
{
  margin: 10px;
}

.white
{
  color: #fff;
}

hr
{
  background: #fff url('../img/hr_line.png') repeat-y;
  height: 4px;
  width: 97%;
  margin: 10px;
}

img.marg
{
  padding: 10px;
  margin: 0px;
  max-width: 570px;
}

form.reset
{
  margin: 0px;
  padding: 0px;
}

hr.comment
{
  background: #000;
  color: #ddd;
  width: 95%;
  height: 1px;
}

form input[type="text"]
{
   border: 1px solid #000;
   background-color: #919191;
   width: 147px;
   height: 24px;
   color: #eee;
   font: 11pt/10pt arial;
}

form textarea
{
   border: 1px solid #000;
   background-color: #919191;
   width: 550px;
   height: 100px;
   color: #eee;
   font: 11pt/10pt arial;
}

form input[type="submit"]
{
  border: None;
  color: #eee;
  background: #919191;
  width: 147px;
  height: 30px;
}

