#body_color
{
  background : #333333 url('../img/background.png') no-repeat;
}

.baner-box
{
  margin: 0px;
  padding-left: 45px;
  padding-top: 35px;
}

.container-box
{
  margin: 0px;
  padding-left: 40px;
  padding-top: 40px;
}

.small-box
{
  margin: 0px;
  padding-left: 33px;
}

div.center
{
  margin: auto;
}

div.button_border
{
   margin: 0px;
   padding: 5px;
   border: 0;
   background: url('../img/button_line.png') no-repeat;
}

input.find
{
   border: 2px solid #aa88ff;
   background-color: #000;

}

div.object_border
{
  margin: 5px;
  background: #fff;
  padding: 10px;
  border: 2px ridge #000;
}

div.small_border
{
  margin: 5px;
  background: #4d4d4d;
  padding: 5px;
  border: 2px ridge #fff;
}

div.right
{
  float: right;
  margin: 0px;
  padding: 10px;
}

div.left
{
  float: left;
  margin: 0px;
  padding: 10px;
}

div.null
{ 
  margin: 0px;
  padding: 0px;
}

h2
{
  color: #5c949b;
  font: bold 20pt/18pt arial;
  margin: 0px;
  padding: 5px;
}

h4
{
  color: #fff;
  font: bold 14pt/12pt arial;
  margin: 0px;
  padding: opx;
}

p.small
{
  color: #fff;
  font: 10pt/9pt arial;
  padding-top: 5px;
  margin: 0px;
}

a
{
  text-decoration: None;
}

.button
{
    font: bold 13pt/11pt arial;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 120px;
    line-height: 50px;
    text-align: center;
    background-image: url('../img/button.png');
    background-repeat: no-repeat;
}
.button:hover { background-position:0 -51px }{
}

.next
{
  font:  13pt/11pt arial;
  color: #5c949b;
  margin: 0px;
  padding: 0px;
}

p
{
  margin: 10px;
}

h2.white
{
  color: #fff;
}

hr
{
  background: #fff url('../img/hr_line.png') repeat-y;
  height: 4px;
  width: 97%;
  margin: 10px;
}

img.marg
{
  padding: 10px;
  margin: 0px;
}
