{% extends "base.html" %}
{% block content %}
{% load markup %}
{% load comments %}
<div class="span-15 object_border">
  <div class="span-9">
    <h4 class="object_name"><a href="{{object.serial.get_absolute_url}}">{{object.serial.name}}</a> - {{object.name}}</h4>
  </div>

  <div class="right">додано {{object.pub_date|date:"d.M.Y"}}</div>
  <div class="span-14">
    <img src="{{object.get_thumb_url}}" class="marg" align="left" alt=""/>
    <p>{{object.full_description|markdown}}</p>
  </div>
        {% if object.download_url %}
        <div class="technical download-link">
        <a target="_blank" href="{{object.download_url}}"><img class="download-img" src="{{MEDIA_URL}}img/download_page.png" /></a>
    <a target="_blank" href="{{object.download_url}}">(звантажити)</a>
        </div>
        {% endif %}
        {% if object.watch_online_url %}
        <div class="technical download-link">
        <a target="_blank" href="{{object.watch_online_url}}"><img class="download-img" src="{{MEDIA_URL}}img/television.png" /></a>
        <a target="_blank" href="{{object.watch_online_url}}">(переглянути)</a>
        </div>
        {% endif %}
  {%get_comment_count for object as comment_count %}
  <div class="right next">Коментарі({{comment_count}})</div>
</div>
<br/>
{% render_comment_list for object %}
<br/>
{% render_comment_form for object %}

{% endblock %}
