{% extends "base.html" %}
{% block content %}
{% load markup %}
{% load comments %}
<div class="span-15 object_border">
  <div class="span-9">
    <h4 class="object_name">{{object.name}}</h4>
  </div>
  <div class="right">додано {{object.pub_date|date:"m/d/Y"}}</div>
  <hr/>
  <div class="span-14">
    <img src="{{object.get_image_url}}" class="marg" align="left" alt=""/>
    <p>{{object.full_description|markdown}}</p>
  </div>
  <div class="span-11 left">
     <a class="next" href="{{episode.movie_url}}">Закачати</a>
  </div>
  {%get_comment_count for object as comment_count %}
  <div class="right next">Коментарі({{comment_count}})</div>
</div>
<br/>
{% render_comment_list for object %}
<br/>
{% render_comment_form for object %}

{% endblock %}
