{% extends "base.html" %}
{% block content %}
{% load markup %}
{% load comments %}
{% for new in news %}
<div class="span-15 object_border">
  <div class="object_name">
    <h4 class="span-11" ><a href="{{new.get_absolute_url}}">{{new.name}}</a></h4>
     <div class="span-3 last right">додано {{new.pub_date|date:"m.d.Y"}}</div>
  </div>
 
  <p>{{new.short_description|markdown}}</p>
  <div class="span-10 left">
     <a class="next" href="{{new.get_absolute_url}}">Читати далі &rarr;</a>
  </div>
  {% get_comment_count for new as comment_count%}
  <div class="right next">Коментарі({{comment_count}})</div>
</div>
{% empty %}
<div class="span-15 object_border">
<h4>На диво, новин сьогодні нема</h4>
</div>
{% endfor %}
{% endblock %}
