{% extends "base.html" %}
{% block content %}
{% load comments %}
{% load markup %}
<div class="span-15 object_border">
  <div class="span-9">
    <h4 class="object_name">{{serial.name}}</h4>
  </div>
  <div class="right">додано {{serial.pub_date|date:"m/d/Y"}}</div>
  <hr/>
  <div class="span-14">
    <img src="{{serial.get_image_url}}" class="marg" align="left" alt=""/>
    <p>{{serial.full_description|markdown}}</p>
  </div>
  {% get_comment_count for serial as comment_count %}
  <div class="right next">Коментарі({{comment_count}})</div>
</div>
<h2 class="white">Серії</h2>
{% for episode in episodes %}
<div class="span-15 episode_border">
  <div class="span-9">
    <h4 class="object_name">{{episode.name}}</h4>
  </div>
  <div class="right">додано {{episode.pub_date|date:"m/d/Y"}}</div>
  <hr/>
  <div class="span-4">
    <img src="{{episode.get_thumb_url}}" class="top left marg" alt="" width="150">
  </div>
  <div class="span-10">
    <p>{{episode.short_description|markdown}}</p>
  </div>
  <div class="span-11 left">
     <a class="next" href="{{episode.get_absolute_url}}">Читати далі</a>
  </div>
  {% get_comment_count for episode as comment_count %}
  <div class="right next">Коментарі({{comment_count}})</div>
</div>
{% endfor %}
<br/>
{% render_comment_list for serial %}
<br/>
{% render_comment_form for serial %}
{% endblock %}
