{% extends "base.html" %}
{% block content %}
{% load comments %}
{% load markup %}
<div class="span-15 object_border">
    <h2 class="object_name">{{serial.name}}</h2>
  <div class="span-4">
    <img src="{{serial.get_image_url}}" alt="">
  </div>
  <div class="span-10">
    {{serial.short_description|markdown}}
    <br/>
     {{serial.full_description|markdown}}
  </div>
</div>
<div class="span-15 episode_border">
<h2>Серії</h2>
  <ul>
{% for episode in episodes %}
{% get_comment_count for episode as comment_count %}
    <li class="episode">
    <a href="{{episode.get_absolute_url}}">
    <span class="episode_name">{{episode.name}}</span>
    <span class="episode_data">
    <span class="technical">{{episode.pub_date|date:"m.d.Y"}}</span> |
    коментарі({{comment_count}})
</a>
    </span>
    <div class="episode_description">
    {{episode.full_description|markdown|striptags|truncatewords:20}}
    </div>
    <div class="technical">
    {% if episode.download_url %}
    <a href="{{episode.download_url}}">(звантажити)</a>
    {% endif %}
    {% if episode.watch_online_url %}
    <a href="{{episode.watch_online_url}}">(переглянути)</a>
    {% endif %}
    </div>
  </li>
{% empty %}
  <hr class="comment"/>
  <p class="white">Ще не залито</p>
{% endfor %}
  </ul>
</div>
{% render_comment_list for serial %}
{% render_comment_form for serial %}
{% endblock %}
