{% extends "base.html" %}
{% block content %}
{% load comments %}
{% load markup %}
<div class="span-15 object_border">
    <h2 class="object_name">{{serial.name}}</h2>
  <div class="span-14">
    <img src="{{serial.get_image_url}}" class="marg" alt="">
    <p>{{serial.short_description|markdown}}</p>
    <br/>
    <p>{{serial.full_description|markdown}}</p>
  </div>
</div>
<div class="span-15 episode_border">
<h2>Серії</h2>
  <ul>
{% for episode in episodes %}
{% get_comment_count for episode as comment_count %}
    <li class="episode">
    <a href="{{episode.get_absolute_url}}">
    <span class="episode_name">{{episode.name}}</span>
    <span class="episode_data">
    <span class="technical">{{episode.pub_date|date:"d.m.Y"}}</span> |
    коментарі({{comment_count}})
</a>
    </span>
    <div class="episode_description">
    {{episode.full_description|markdown|striptags|truncatewords:20}}
    </div>
        {% if episode.download_url %}
        <div class="technical download-link">
        <a target="_blank" href="{{episode.download_url}}"><img class="download-img" src="{{MEDIA_URL}}img/download_page.png" /></a>
    <a target="_blank" href="{{episode.download_url}}">(звантажити)</a>
    </div>
    {% endif %}
    {% if episode.watch_online_url %}
        <div class="technical download-link">
        <a target="_blank" href="{{episode.watch_online_url}}"><img class="download-img" src="{{MEDIA_URL}}img/television.png" /></a>
    <a target="_blank" href="{{episode.watch_online_url}}">(переглянути)</a>
    </div>
    {% endif %}
    <div class="clearfix"></div>
  </li >
{% empty %}
  <hr class="comment"/>
  <p class="white">Ще не залито</p>
{% endfor %}
  </ul>
</div>
{% render_comment_list for serial %}
{% render_comment_form for serial %}
{% endblock %}

